.wel{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.add-btn{
    color:white;
    background-color: grey;
    border: none;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
}