.Invalid{
    color:red;
    text-align: center;
}
.admin-login{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.admin{
    background-image: url('https://images.unsplash.com/photo-1514449372970-c013485804bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA1fHx0cmVlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
}
.forms{
    padding: 50px 20px;
    background-color: white;
    border-radius: 10px;
}